{
  "extends": ["airbnb", "prettier", "plugin:jest/recommended"],
  "rules": {
    "import/no-extraneous-dependencies": 0,
    "react/jsx-props-no-spreading": ["off"]
  },
  "globals": {
    "document": false,
    "fetch": false,
    "window": false
  }
}
